body {
    background-color: rgb(211, 255, 190);
}
p{
    color:rgba(21, 255, 0, 0.856);
}
h1{
    color: rgb(1, 58, 1);
}

p {
    color: rgb(25, 197, 34);
    font-size: 50px;
}
img {
    border: 20px dotted rgb(37, 133, 13);
}